
.hero {
  position: relative;
  width: 100%;
  height: 420px;
  background-image: url("shoe.PNG"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 3px solid #ffcc00;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0.7), rgba(0,0,0,0.85));
  z-index: 1;
}


.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  animation: fadeInUp 1.2s ease forwards;
}

.hero-content h1 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #000;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 25px;
  color: #e0e0e0;
}

.hero-btn {
  text-decoration: none;
  padding: 12px 28px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #fff;
  transform: scale(1.05);
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





