
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #222;
}


header {
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: white;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}


figure img {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}


section {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

section h2 {
    margin-top: 0;
    color: #000;
}

section p {
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: white;
    margin-top: 40px;
}

footer small {
    opacity: 0.7;
}

.reviews {
    margin-top: 50px;
}

.review-box {
    background: #fafafa;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid black;
    border-radius: 8px;
}

.stars {
    color: gold;
    font-size: 20px;
    font-weight: bold;
}

.review-form input,
.review-form select,
.review-form textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.review-form button {
    background: rgb(9, 9, 9);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.review-form button:hover {
    background: #333;
}

@media (max-width: 600px) {
    section {
        width: 95%;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
